  <header class="header">
    <div class="wrapper-content header__wrapper">
      <nav class="nav">
        <ul class="nav__menu">
          <div class="menu__icon">
            <img class="icon__img" src="images/menu-img.png">
          </div>
          <div class="menu__items"> 
            <li class="item">
              <a routerLink="/home" class="item__link">Home</a>
            </li>
            <li class="item">
              <a routerLink="/sell" class="item__link">Sell</a>
            </li>
            <li class="item">
              <a routerLink="/buy" class="item__link">Buy</a>
            </li>
            <li class="item">
              <a routerLink="/contacts" class="item__link">Contact us</a>
            </li>
          </div>
        </ul>

      </nav>
      <div class="logo-wrapper">
        <a href="#" class="logo">
          <img class="logo__img" src="images/logo.png">
        </a>
      </div>
      <div class="search-wrapper">
        <input class="search__form input" type="text" placeholder="Search...">
        <button class="search__button button">Search</button>
      </div>
    </div>
  </header>