<footer class="footer">
		<div class="wrapper-content footer__wrapper">
			<div class="footer__section">
				<h4 class="section__title title">Information</h4>
				<ul class="section__items">
					<li class="section__item">
						<a routerLink="/home" class="item__link">About Us</a>
					</li>
					<li class="section__item">
						<a routerLink="/home" class="item__link">My Account</a>
					</li>
					<li class="section__item">
						<a routerLink="/home" class="item__link">Price List</a>
					</li>
					<li class="section__item">
						<a routerLink="/contacts" class="item__link">Contact</a>
					</li>
					<li class="section__item">
						<a routerLink="/home" class="item__link">Registration</a>
					</li>
				</ul>
			</div>
			<div class="footer__section">
				<h4 class ="section__title title">Contact us</h4>
				<ul class="section__items">
					<li class="section__item">
						<span class="fas fa-map-marker-alt item__icon"></span>
						<a routerLink="/home" class="item__link">2130 Fulton Street, Chicago, IL <br>94117-1080 USA</a>
					</li>
					<li class="section__item">
						<span class="fas fa-phone item__icon"></span>
						<a routerLink="/home" class="item__link">+380-67-652-65-89</a>
					</li>
					<li class="section__item">
						<span class="item__icon fa fa-envelope"></span>
						<a routerLink="/home" class="item__link">alex_lysenko@gmail.com</a>
					</li>
				</ul>
			</div>
			<div class="footer__section">
				<h4 class ="section__title title">Newsletter</h4>
				<div class="section__item">
					<p>Keep up with our always upcoming product features and technologies. Enter your e-mail and subscribe to our newsletter.</p>
				</div>
				<div class="section__form">
					<input class="email__form input" type="email" id="email" required placeholder="Enter your e-mail">
					<input type="submit" class="form__button button" value="Subscribe">
				</div>
			</div>
		</div>
	</footer>