<section class="contacts">
  <div class="wrapper-content contacts__wrapper">
    <h3 class="title">Contact Us</h3>
    <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
    <form class="contacts-form form">
      <label class="contacts-form__label label" for="first-name">First name
        <input class="contacts-form__input input" type="text" id="first-name" requires>
      </label>
      <label class="contacts-form__label label" for="last-name">Last name
        <input class="contacts-form__input input" type="text" id="last-name" requires>
      </label>
      <label class="contacts-form__label label" for="email">Email
        <input class="contacts-form__input input" type="text" id="email" requires>
      </label>
      <label class="contacts-form__label label" for="phone">Phone
        <input class="contacts-form__input input" type="text" id="phone" requires>
      </label>
      <label class="contacts-form__label label" for="message">Message
        <textarea class="contacts-form__textarea textarea" id="message"></textarea>
      </label>
      <input class="contacts-form__button button" type="button" name="" value="Send Message">
    </form>
  </div>
</section>
