/*.....................Contacts form..............*/

.contacts-form {
  max-width: 500px;
  margin: 0 auto;
}

.contacts-form__label {}


.contacts-form__input,
.contacts-form__textarea {
  display: block;
  width: 100%;
  padding: 18px 25px;
  margin: 10px 10px;
}
