	<section class="contacts">
		<div class="wrapper-content contacts__wrapper">
			<h3 class="title">Contact Us</h3>
			<p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
			<form class="contacts__form">
				<label class="form__label" for="first-name">First name
					<input class="form__input" type="text" id="first-name" requires>
				</label>
				<label class="form__label" for="last-name">Last name
					<input class="form__input" type="text" id="last-name" requires>
				</label>
				<label class="form__label" for="email">Email
					<input class="form__input" type="text" id="email" requires>
				</label>
				<label class="form__label" for="phone">Phone
					<input class="form__input" type="text" id="phone" requires>
				</label>
				<label class="form__label" for="message">Message
					<textarea class="form__textarea" id="message"></textarea>
				<input class="button" type="button" name="" value="Send Message">
				</label>
			</form>
		</div>
	</section>