<section class="auctions">
  <h3 class="title">Current Auctions</h3>
  <div class="wrapper-content auctions__wrapper">
    <div class="product">
      <div class="product__counter">Countdown finished</div>
      <img src="images/product1.jpg" alt="product img" class="product__img">
      <h3 class="product__title">Typhoon 4K Quadcopter with Carrying Case — Black</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <div class="product__counter">Countdown finished</div>
      <img src="images/product2.jpg" alt="product img" class="product__img">
      <h3 class="product__title">Fyxation Eastside Crimson Roja – Bicicleta Urbana 1</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <img src="images/product3.jpg" alt="product img" class="product__img">
      <div class="product__counter">Countdown finished</div>
      <h3 class="product__title">Lenovo K5 Note 4G Phablet</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <div class="product__counter">Countdown finished</div>
      <img src="images/product4.jpg" alt="product__img" class="product__img">
      <h3 class="product__title">Biomega- PEK – Bicicleta Carga</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <img src="images/product3.jpg" alt="product img" class="product__img">
      <div class="product__counter">Countdown finished</div>
      <h3 class="product__title">Lenovo K5 Note 4G Phablet</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <div class="product__counter">Countdown finished</div>
      <img src="images/product4.jpg" alt="product__img" class="product__img">
      <h3 class="product__title">Biomega- PEK – Bicicleta Carga</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <img src="images/product3.jpg" alt="product img" class="product__img">
      <div class="product__counter">Countdown finished</div>
      <h3 class="product__title">Lenovo K5 Note 4G Phablet</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
    <div class="product">
      <div class="product__counter">Countdown finished</div>
      <img src="images/product4.jpg" alt="product__img" class="product__img">
      <h3 class="product__title">Biomega- PEK – Bicicleta Carga</h3>
      <div class="product__price-wrapper">
        <div class="product__price">
          <p class="price__text">Start Price</p>
          <strong class="price">125$</strong>
        </div>
        <div class="product__price">
          <p class="price__text">Current Price</p>
          <strong class="price">300$</strong>
        </div>
      </div>
      <a href="" class="product__button button">Submit a Bid</a>
    </div>
  </div>
</section>
