<section class="about">
  <h3 class="about__title title">How it works</h3>
  <div class="wrapper-content about__wrapper">
    <div class="boxes">
      <div class="box">
        <div class="icon">
          <i class="fa fa-user fa-3x"></i>
        </div>
        <h3 class="icon__title">Register</h3>
        <p class="icon__text">To start using our auction, you’ll need to register. It’s completely free!</p>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa fa-money-bill-alt fa-3x"></i>
        </div>
        <h3 class="icon__title">Buy or Bid</h3>
        <p class="icon__text">You can instantly buy or place a bid on a desired product right after registration.</p>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa fa-gavel fa-3x"></i>
        </div>
        <h3 class="icon__title">Submit a Bid</h3>
        <p class="icon__text">Submitting a bid is fast and easy. The process takes approximately 5 minutes.</p>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa fa-trophy fa-3x"></i>
        </div>
        <h3 class="icon__title">Win</h3>
        <p class="icon__text">Easily win at our auction and enjoy owning the product you dream of.</p>
      </div>
    </div>
  </div>
</section>
